.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;   
}

.error{
    display: grid;
    height: 80vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    font: 500 3.5vmax "Roboto";
    width: 30vmax;
    padding: 1vmax;
    margin:  auto;
    color: rgb(95, 94, 94);
}
